/* style.css */
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

form {
	margin-bottom: 20px;
}

input {
	margin: 5px;
	padding: 5px;
}

.route-line {
	font-style: italic;
	margin-bottom: 5px;
	color: #555;
}

.route-item {
	padding: 5px 0;
	font-size: 1.1em;
}

.route-item.transfer {
	font-weight: bold;
	color: #ff4400;
}

.route-arrow {
	font-size: 1.2em;
	color: #555;
}
